.header {
    background-image: linear-gradient(to right, royalblue , white);
}

.main-title {
    font-weight: bold;
    color: white;
}

.lista-docs {
    background-image: linear-gradient(to left, royalblue , white);
    font-size: 25px
}

